<%- include('header'); -%>

<h1 style="color: black; margin-bottom: 0;">about</h1>
<p style="margin-top: 0;">Ut id sagittis ante. Vestibulum cursus ante nec neque volutpat, sed semper lectus blandit. Aliquam sit amet enim ultrices, efficitur mi a,
     suscipit mi. Vestibulum augue justo, fringilla et facilisis vitae, aliquet vel urna. Curabitur ut leo justo. Ut ut volutpat turpis,
      sed imperdiet sem. Nullam aliquet ornare ultrices. Nulla placerat tortor sit amet augue iaculis, et eleifend leo fermentum. Morbi efficitur
       nunc ac lectus viverra dictum. Praesent et nisl in nisl ullamcorper mollis.</p>

<%- include('footer'); -%>
